<!-- dashboard.html -->
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1 class="mt-4">Dashboard</h1>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quantidade de Animais</h5>
                    <p class="card-text">{{ quantidade_animais }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Valor Atual do @</h5>
                    <p class="card-text" id="valorAtual">{{ valor_atual }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Média por Cabeça</h5>
                    <p class="card-text">{{ media_valor }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- ---- -->
    <div class="row mt-4">
        <div class="col-lg-6">
            <h2>Animais</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Identificação</th>
                        <th>Raça</th>
                        <th>Data de Nascimento</th>
                        <th>Sexo</th>
                        <th>Peso</th>
                    </tr>
                </thead>
                <tbody>
                    {% for animal in animals %}
                        <tr>
                            <td>{{ animal.id }}</td>
                            <td>{{ animal.numero_identificacao }}</td>
                            <td>{{ animal.get_raca_display }}</td>
                            <td>{{ animal.data_nascimento }}</td>
                            <td>{{ animal.sexo }}</td>
                            <td>{{ animal.pesos.last.peso|floatformat:0}}@</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h2>Gráficos</h2>
            <canvas id="animalChart"></canvas>
            <canvas id="populationChart"></canvas>
        </div>
    </div>
    <script>
        var animalLabels = [];
        var animalData = [];

        {% for animal in animals %}
            animalLabels.push("{{ animal.get_raca_display }}");
            animalData.push({{ animal.pesos.last.peso }});
        {% endfor %}

        // Configuração do gráfico
        var animalChartOptions = {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        };

        // Criação do gráfico
        var animalChartElement = document.getElementById('animalChart');
        var animalChart = new Chart(animalChartElement, {
            type: 'bar',
            data: {
                labels: animalLabels,
                datasets: [{
                    label: 'Raças',
                    data: animalData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: animalChartOptions
        });

        // Dados do controle populacional do gado
        var years = [2015, 2016, 2017, 2018, 2019, 2020, 2021]; // Anos
        var population = [10, 34, 40, 30, 65, 43, 12]; // População do gado

        // Configuração do gráfico
        var populationChartOptions = {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'População'
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'Ano'
                    }
                }
            }
        };

        // Criação do gráfico
        var populationChartElement = document.getElementById('populationChart');
        var populationChart = new Chart(populationChartElement, {
            type: 'line',
            data: {
                labels: years,
                datasets: [{
                    label: 'População do Gado',
                    data: population,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: populationChartOptions
        });
    </script>
{% endblock %}
