<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <h1 class="mt-4">Dashboard</h1>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quantidade de Animais</h5>
                    <p class="card-text">{{ quantidade_animais }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Valor Atual do @</h5>
                    <p class="card-text">{{ valor_atual }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Média de Valor da Cabeça de Gado</h5>
                    <p class="card-text">{{ media_valor }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- ---- -->
    <div class="row mt-4">
        <div class="col-lg-6">
                <h2>Animais</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Identificação</th>
                            <th>Raça</th>
                            <th>Data de Nascimento</th>
                            <th>Sexo</th>
                            <th>Peso</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for animal in animals %}
                            <tr>
                                <td>{{ animal.id }}</td>
                                <td>{{ animal.numero_identificacao }}</td>
                                <td>{{ animal.get_raca_display }}</td>
                                <td>{{ animal.data_nascimento }}</td>
                                <td>{{ animal.sexo }}</td>
                                <td>{{ animal.pesos.last.peso }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <h2>Gráficos</h2>
            <canvas id="animalChart"></canvas>
        </div>
    </div>
</main>
</div>
</div>